0   ICON        "app.ico"
1   VERSIONINFO
    FILEVERSION     1,0,3,0
    PRODUCTVERSION  1,0,3,0
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "040904E4"
            BEGIN
                VALUE "FileDescription",    "BOWSIE - Better Overworld Sprite Insertion Engine"
                VALUE "FileVersion",        "1.03"
                VALUE "InternalName",       "bowsie"
                VALUE "OriginalFilename",   "bowsie.exe"
                VALUE "ProductName",        "BOWSIE"
                VALUE "ProductVersion",     "1.03"
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x409, 1252
        END
    END